<main class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
  </ul>
  <router-outlet></router-outlet>
</main>