<div class="col-xs-6">
    <img *ngIf="profile" class="profile-picture" src="{{profile.profilePicture}}">
    <form [formGroup]="profileForm" (ngSubmit)="submitProfileForm()">
        <div class="form-group" [ngClass]="{'has-error': profileForm.controls.firstName.touched && profileForm.controls.firstName.invalid}">
            <label>First Name
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
            </label>
        </div>
        <div class="form-group" [ngClass]="{'has-error': profileForm.controls.lastName.touched && profileForm.controls.lastName.invalid}">
            <label>Last Name
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
            </label>
        </div>
        <div class="form-group" [ngClass]="{'has-error': profileForm.controls.age.touched && profileForm.controls.age.invalid}">
            <label>Age
                <input type="number" class="form-control" formControlName="age">
            </label>
        </div>
        <div class="form-group" [ngClass]="{'has-error': profileForm.controls.email.touched && profileForm.controls.email.invalid}">
            <label>Email
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </label>
        </div>
        
        <button type="submit" class="btn btn-default" [disabled]="profileForm.invalid">Submit</button>
    </form>

</div>