<div class="row">
  <div class="col-xs-6">
    <app-account *ngIf="account" [account]="account"></app-account>
  </div>
  <div class="col-xs-6">
    <app-transactions *ngIf="transactions" [transactions]="transactions"></app-transactions>
  </div>
</div>