<div class="panel panel-info" *ngFor="let transaction of transactions">
    <div class="panel-heading">
        <h3 class="panel-title">{{transaction.name}}</h3>
      </div>
  <div class="panel-body">
    <span>
      {{transaction.ammount}} UAH
    </span>
    <span class="pull-right"> 
      {{getDate(transaction.date)}}
    </span>
  </div>
</div>