<table class="table table-hover">
  <tr>
    <td><b>Name</b></td>
    <td>{{account.name}}</td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td>{{account.description}}</td>
  </tr>
  <tr>
    <td><b>Credentials</b></td>
    <td>{{account.credentials}}</td>
  </tr>
</table>